<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbw.platform.admin.mapper.SysAuthorityMapper">
  <resultMap id="BaseResultMap" type="com.lbw.platform.admin.entity.SysAuthority">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>


  <select id="getSysAuthorityByUserName" parameterType="String" resultMap="BaseResultMap">
    SELECT sa.* FROM sys_role_authorities sra LEFT JOIN  sys_authority sa ON sra.`authorities_id` = sa.`id` WHERE sra.`sys_role_id` IN (
    SELECT roles_id FROM sys_user su LEFT JOIN sys_user_roles sur ON su.`id` = sur.`sys_user_id` WHERE su.`username` = #{username} )
  </select>
  
  
   <select id="getAllSysAuthority" resultMap="BaseResultMap">
    SELECT * FROM   sys_authority ;
  </select>
</mapper>